.section-1{
	background: url('../../images/bg.jpg') no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 80px;
}

.timeline{
	font-family: 'Smythe', cursive;
	color: #fff;
	display: flex;
	justify-content:flex-end;
	font-size: 9rem;
}

.slider-image img{
	box-shadow: 10px 10px 5px;
	width: 750px;
	height: 440px;
}


.jssorb031{
	position:absolute;
}
.jssorb031 .i{
	position:absolute;
	cursor:pointer;
}
.jssorb031 .i .b{
	fill:#000;
	fill-opacity:0.5;
	stroke:#fff;
	stroke-width:1;
	stroke-miterlimit:10;
	stroke-opacity:0.3;
}
.jssorb031 .i:hover .b{fill:#fff;
	fill-opacity:.7;
	stroke:#000;
	stroke-opacity:.5;
}
.jssorb031 .iav .b{fill:#fff;
	stroke:#000;
	fill-opacity:1;
}
.jssorb031 .i.idn{
	opacity:.3;
}

.year{
	color: #fff;
	font-family: Roboto;
	padding: 0 5px;
	font-weight: 600;
}
