.imagelist-header{
  background: url('../../images/imgbg.jpg');
}


.imagelist-title{
  font-size: 6rem;
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
  color: #000;
}

.imagelist-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.imagelist-newimage{
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .5s;
  border-radius: 5px;
}
.imagelist-newimage:hover{
  transform: scale(1.05);
}
